<section class="welcome">
	<h2>Welcome!</h2>
	 <p>Chicago’s motto—Urbs in Horto— means “city in a garden.” It turns out cities and gardens have a lot in common and variety is key to both. There is <strong>magic</strong> in the mix and the match.</p>

	<p>Companion planting is a time-tested farming strategy. Think of it like zoning, but for plants. The goal: to put plants that help each other (enriching the soil, fending off pest) next to one another and to keep plants that harm one another apart.</p>

	<p>Garden Goat is an app to help you make smart decisions when planning a small garden plot.</p>
</section>
<section class="howtouse welcome">
	<h2>How it works...</h2>
	<p>Start by selecting your first crop for the first square in the plot. For example, potatoes. Then select a crop to plant in a contiguous square. If it’s a good companion, the boxes will turn green. If it’s a bad neighbor, the boxes will turn red.</p>

	<!--For our beta version, we have three neutrals that get along with everybody: soybeans, marigold and strawberries.<-->

	<p>Are you ready? Start planting!</p>
</section>
