<header>
	<div class="rectangle">
		<div class="rectangle-content">
			<h1 class="headertxt">Garden Goat</h1>
			<h2 class="headertxt">A garden guide to companion planning.</h2>
		</div><!--Close of Rectangle Content-->
	</div> <!--Close of Rectangle-->
	<div class="clear"></div>
</header>