<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Garden Goat</title>
        <link href='http://fonts.googleapis.com/css?family=Satisfy|Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div id= "container">
        <div class="bubble">
    <header>
        <div class="rectangle">
            <h1 class="headertxt">Garden Goat</h1> <h2 class="headertxt">A garden guide to companion planning.</h2>
        </div> <!--Close of Rectangle-->
        <div class="clear"></div>
    </header>
            <section>
                <h3>Who We are:</h3>
                <p>Goats prefer to browse on vines, such as kudzu, on shrubbery and on weeds, more like deer than sheep, preferring them to grasses. Nightshade is poisonous; wilted fruit tree leaves can also kill goats. Silage (fermented corn stalks) and haylage (fermented grass hay) can be used if consumed immediately after opening - goats are particularly sensitive to Listeria bacteria that can grow in fermented feeds. Alfalfa, a high-protein plant, is widely fed as hay; fescue is the least palatable and least nutritious hay. Mold in a goat's feed can make it sick and possibly kill it. Goats should not be fed grass showing any signs of mold.</p>
            </section>




            <section class="group">
  <ol class="group">
    <li class="plot">
      <select name="1A">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="1B">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="1C">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="1D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
  </ol>
  <ol class="group">
    <li class="plot">
      <select name="2A">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="2B">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="2C">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="2D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
  </ol>
  <ol class="group">
    <li class="plot">
      <select name="3A">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="3B">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="3C">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="3D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
  </ol>
  <ol class="group">
    <li class="plot">
       <select name="1D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="2D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="3D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
    <li class="plot">
      <select name="4D">
        <option value="Null" selected>Select</option>
        <option value="Beans">Beans</option>
        <option value="Chives">Chives</option>
        <option value="Dill">Dill</option>
        <option value="Marigolds">Marigolds</option>
        <option value="Onions">Onions</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Strawberry">Strawberry</option>
        <option value="Tomatoes">Tomatoes</option>
      </select>
    </li>
  </ol>

            <input class="evaluate_btn" type="submit" name="evaluate" value="Evaluate">

            </section>
            <br>

            <%= link_to 'New Vegetable', new_vegetable_path %>
            
            <footer>The Garden Goat LLC 2013</footer>
        </div>
    </body>
</html>
