html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*Style Sheet*/


body {
  font-family: 'PT Serif', serif;
  background-color:#509A47;
}

#container{
  width: 960px;
  background-color:#509A47;
  margin: 20px auto;
  position: relative;
  clear:both;
  z-index:70;
}

.bubble{
  margin: 0px auto;
  width: 900px;
  padding-bottom: 2%;
  background-color:#D3DEDB;
  -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
   -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
     -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);

  position: relative;
  z-index: 80;
}
.rectangle-content{
  background-image: url("backgroundfinal.jpg");
  position:relative;
  background-color:#5E666B;
  height:274px;
  width: 960px;
  left: -30px;
  top: 30px;
  float: left;
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
  -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
  z-index: 100;
}

.clear{
  clear:both;
}

.rectangle:before, .rectangle:after {
 content: "";
 position: absolute;
 display: block;
 top: 160px;
 border: 90px solid #575d61;
 z-index: -1;
}

.rectangle:before {
 left: -160px;
 border-right-width: 70px;
 border-left-color: transparent;
}

.rectangle:after {
 right: -160px;
 border-left-width: 70px;
 border-right-color: transparent;
}

.rectangle .rectangle-content:before, .rectangle .rectangle-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: black transparent transparent transparent;
 bottom: -30px;
}

.rectangle .rectangle-content:before {
 left: 0;
 border-width: 30px 0 0 30px;
}

.rectangle .rectangle-content:after {
 right: 0;
 border-width: 30px 30px 0 0;
}

h1{
  padding-top: 15px;
  font-size: 64px;
  position:relative;
  left:-9999px;
  font-style: bold;
}

h2{
  font-size: 32px;
  font-family:'Satisfy', cursive;
  position:relative;
  text-align: left;
  padding:10px;
}

h3{
  font-size: 18px;
}

p{
  font-size: 16px;
  line-height: 20px;
  padding:10px;
}

strong{
  font-style:italic;
}

.headertxt{
  position:relative;
  left:-9999px;
}


section.welcome{
  clear:both;
  margin: 5% 2% 1% 2%;
  background-color: #88B775;
  border: 1px solid #252525;
  border-color: white;
  -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
     -moz-border-radius: 10px;
}

section.howtouse{
  margin: 2%;
}


footer{
  margin:0 auto;
  background-color:#D3DEDB;
  padding-top: 5px;
  height: 31px;
  width: 900px;
  text-align: center;
  font-style: italic;
   -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.plot {
  padding: 2%;
  text-align: center;
  border: 1px solid #999;
  float: left;
  font-size: 7px;
  background-color: #fff;
}

.fourbyfour {
  width: 25%;
}

.fourbyeight {
  width: 12.5%;
}


.addveggies {
  margin-left: 2%;
}

.compatible {
  background-color: #509A47;
}

.conflicting {
  background-color: #E2431B;
}

.tab-nav {
  list-style: none;
  margin: 0 0 0 2.3%;
  padding: 0;

}

.tab-nav li{
  float: left;
}

.tab-nav a {
  background: #f5f7f5;
  border: 1px solid #c6c9cc;
  color: #8c9198;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 40px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
}

.tab-nav .tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: #8ec63f;
  cursor: default;
}

.tab-nav li:last-child a{
  -webkit-border-top-right-radius: 6px;
      -moz-border-radius-topright: 6px;
          border-top-right-radius: 6px;
}

.tab-nav li:first-child a{
  -webkit-border-top-left-radius: 6px;
      -moz-border-radius-topleft: 6px;
          border-top-left-radius: 6px;
}

.plot-container {
  border: 1px solid #c6c9cc;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
      -ms-border-radius: 0 0 6px 6px;
       -o-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  border-top: 0;
  clear: both;
  margin: 20px;
  padding: 1%;
  background-color: #fff;
/*  position: relative;
  top: -1px;
  width: 281px;*/
}




