body {
  font-family: 'Vollkorn', serif;
  background-color:#509A47;
}

#container{
  width: 960px;
  background-color:#509A47;
  margin: 20px auto 0px auto;
  position: relative;
  clear:both;
  z-index:70;
}

.bubble{
  margin: 0px auto;
  width: 900px;
  background-color:#D3DEDB;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 80;
}
.rectangle{
  background-image: url("../backgroundfinal.jpg");
  background-color:#5E666B;
  height:274px;
  width: 960px;
  position:relative;
  border: 1px solid black;
  left: -30px;
  top: 30px;
  float: left;
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
  -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
  z-index: 100;
}
.clear{
  clear:both;
}

h1{
  padding-top: 15px;
  font-size: 64px;
  position:relative;
  left:-9999px;
  font-style: bold;
}
h2{
  font-size: 32px;
  font-family:'Satisfy', cursive;
  position:relative;
  left:-9999px;
  text-align: left;
}

section{
  clear:both;
  margin: 50px 20px 10px 20px;
  background-color: #88B775;
  border: 1px solid #252525;
}

h3{
  font-size: 18px;
}

p{
  font-size: 9px;
}











.plot {
  width: 25%;
  padding: 2%;
  text-align: center;
  border: 1px solid #999;
  float: left;
  font-size: 7px;
}

.compatible {
  background-color: #509A47;
}

.conflicting {
  background-color: #E2431B;
}

input[type="submit"] {
  cursor: pointer;
  padding: 1% 4%;
  text-shadow: 0 1px 0 #fff;
}

.styled_select {

}

.evaluate_btn {
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
     -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
          box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color: #8ec63f;
  font-family:arial;
  font-size:8px;
  font-weight:bold;
  padding:2% 6%;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
  margin: 1% 0 0 0;
}

footer{
  margin:0 auto;
  background-color:#D3DEDB;
  padding-top: 5px;
  border: 1px solid #252525;
  height: 31px;
  width: 900px;
  text-align: center;
  font-style: italic;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
